---
pagination:
  data: collections.allEngagementsList
  size: 1
  alias: p
permalink: '/engagements/{{ p.slug }}.html'
layout: 'layouts/base.liquid'
---

<link rel="stylesheet" href="/css/engagement-details.css">

<header>
  {% include 'components/main-nav.liquid' %}
  <h1>{{ p.title }}</h1>
</header>

<main class="engagement-details">
  <section class="overview">
    <h2>Event Overview</h2>
    {%- if p.image.length > 0 -%}
      <img src="{{ p.image }}" alt="{{ p.imageAltText }}" loading="lazy">
    {%- else -%}
      <img src="/img/engagement-default.svg" alt="" loading="lazy">
    {%- endif -%}
    <div class="details">
      <div class="title">{{ p.title }}</div>
      <time>{{ p.date }}</time>
      <address>{{ p.location }}</address>
    </div>
    <div class="actions">
      {%- if p.websiteUrl.length > 0 -%}
        <a class="button accent" href="{{ p.websiteUrl }}">Visit Event Website</a>
      {%- endif -%}
      {%- if p.registrationUrl.length > 0 -%}
        <a class="button accent" href="{{ p.registrationUrl }}">Register for the Website</a>
      {%- endif -%}
    </div>
  </section>

  <section class="details">
    <h2>Event Details</h2>
    {{ p.description | markdown }}
  </section>

  <section>
    <h2>Presentations</h2>
    {% assign presentations = p.presentations %}
    {% include 'components/presentation-list.liquid' %}
  </section>


</main>
