---
layout: 'layouts/base.liquid'
permalink: 'meetups.html'
---

<link rel="stylesheet" href="/css/meetups.css">

<header>
  {% include 'components/main-nav.liquid' %}
  <h1>Meetups</h1>
</header>

<main>
  <section>
    <ul class="meetups">
      {% for  meetup in meetups %}
        <li>
          <a href="/meetups/{{ meetup.slug }}">
          {% if meetup.image.length > 0 %}
              <img src="{{ meetup.image }}" alt="{{ meetup.imageAltText }}">
          {% else  %}
              <img src="../img/meetup-default.svg" alt="">
          {% endif %}
            <div class="content">
              <h2>{{ meetup.title }}</h2>
              <div class="description">{{ meetup.description | markdown }}</div>
              <div class="actions">
                <span class="button">Details</span>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
</main>

<main>