---
pagination:
  data: presentations
  size: 1
  alias: p
permalink: '/presentations/{{ p.slug }}.html'
layout: 'layouts/base.liquid'
---

<link rel="stylesheet" href="/css/presentation-details.css">

<header>
  {% include 'components/main-nav.liquid' %}
  <h1>{{ p.title }}</h1>
</header>

<main>
  <img src="{{ p.image }}" alt="{{ p.imageAltText }}">
  <section class="overview">
    <div class="duration">{{ p.duration }}</div>
    <a
      href="{{ p.repoUrl }}"
      target="_blank"
      rel="noopener">Repo</a>
    <div class="description">{{ p.description | markdown }}</div>
  </section>

  <section class="related-presentations">
    <h2>Related Presentations</h2>
    {% if p.relatedPresentations.length > 0 %}
      <ul>
        {%- for pres in p.relatedPresentations -%}
          <li>
            <a href="/presentations/{{ pres.slug }}">{{ pres.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    {% else %}
      <p>No related Presentations</p>
    {% endif %}
  </section>

  <section class="tags">
    <h2>Tags</h2>
    <ul>
      {%- for tag in p.tags -%}
        <li>{{ tag }}</li>
      {%- endfor -%}
    </ul>
  </section>

  <section class="accordion">
    <section class="panel">
      <h2 id="accAbstractPanelHeader">
        <button
          type="button"
          onclick="togglePanel(event)"
          aria-controls="accAbstractPanel">
          <span>Abstract asdf some really long text to see</span>
          <span class="caret">{% include 'icons/caret.liquid' %}</span>
        </button>
      </h2>
      <div
        class="panel-body"
        id="accAbstractPanel"
        role="region"
        arial-labelledby="accAbstractPanelHeader">
        {{ p.abstract | markdown }}
      </div>
    </section>

    <section class="panel">
      <h2 id="accLearningObjectivesPanelHeader">
        <button
          type="button"
          onclick="togglePanel(event)"
          aria-controls="accLearningObjectivesPanel">
          <span>Learning Objectives</span>
          <span class="caret">{% include 'icons/caret.liquid' %}</span>
        </button>
      </h2>
      <div
        class="panel-body"
        id="accLearningObjectivesPanel"
        role="region"
        aria-labelledby="accLearningObjectivesPanelHeader">
        <ul>
          {% for lo in p.learningObjectives %}
            <li>{{ lo | markdown }}</li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="panel">
      <h2 id="accEngagementsPanelHeader">
        <button
          type="button"
          onclick="togglePanel(event)"
          aria-controls="accEngagementsPanel">
          <span>Engagements</span>
          <span class="caret">{% include 'icons/caret.liquid' %}</span>
        </button>
      </h2>
      <div
        class="panel-body engagements"
        id="accEngagementsPanel"
        role="region"
        aria-labelledby="accEngagementsPanelHeader">
        <ul>
          {% for engagement in p.engagements %}
            <li>
              {% include "components/upcoming-engagement" %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="panel">
      <h2 id="accResourcesPanelHeader">
        <button
          type="button"
          onclick="togglePanel(event)"
          aria-controls="accResourcesPanel">
          <span>Resources</span>
          <span class="caret">{% include 'icons/caret.liquid' %}</span>
        </button>
      </h2>
      <div
        class="panel-body"
        id="accResourcesPanel"
        role="region"
        aria-labelledby="accResourcesPanelHeader">
        {{ p.resources | markdown }}
      </div>
    </section>
  </section>

  <section class="tabs">
    <div
      class="nav"
      id="tabsNav"
      role="tablist">
      <button
        type="button"
        onclick="selectTab('abstract', event)"
        id="abstractPanelButton"
        class="selected"
        role="tab"
        aria-selected="true"
        aria-controls="abstract">
        Abstract
      </button>

      <button
        type="button"
        onclick="selectTab('learningObjectives', event)"
        id="learningObjectivePanelButton"
        role="tab"
        aria-selected="false"
        aria-controls="learningObjectives"
        tabindex="-1">
        Objectives
      </button>

      <button
        type="button"
        onclick="selectTab('engagements', event)"
        id="engagementsPanelButton"
        role="tab"
        aria-selected="false"
        aria-controls="engagements"
        tabindex="-1">
        Engagements
      </button>

      <button
        type="button"
        onclick="selectTab('resources', event)"
        id="resourcesPanelButton"
        role="tab"
        aria-selected="false"
        aria-controls="resources"
        tabindex="-1">
        Resources
      </button>

    </div>

    <div class="panel-container">
      <section
        id="abstract"
        class="tab selected"
        aria-labelledby="abstractPanelButton"
        role="tabpanel">
        <h2>Abstract</h2>
        <div class="tab-body">
          {{ p.abstract | markdown }}
        </div>
      </section>

      <section
        id="learningObjectives"
        class="tab"
        aria-labelledby="learningObjectivePanelButton"
        role="tabpanel">
        <h2>Learning Objectives</h2>
        <div class="tab-body">
          <ul>
            {% for lo in p.learningObjectives %}
              <li>{{ lo | markdown }}</li>
            {% endfor %}
          </ul>
        </div>
      </section>

      <section
        id="engagements"
        class="tab"
        aria-labelledby="engagementsPanelButton"
        role="tabpanel">
        <h2>Engagements</h2>
        <div class="tab-body engagements">
          <ul>
            {% for engagement in p.engagements %}
              <li>
                {% include "components/upcoming-engagement" %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>

      <section
        id="resources"
        class="tab"
        aria-labelledby="resourcesPanelButton"
        role="tabpanel">
        <h2>Resources</h2>
        <div class="tab-body">
          {{ p.resources | markdown }}
        </div>
      </section>
    </div>
  </section>
</main>

<script src="/scripts/presentation-details.js"></script>