---
pagination:
  data: presentations
  size: 1
  alias: p
permalink: '/presentations/{{ p.slug }}.html'
layout: 'layouts/base.liquid'
---

<link rel="stylesheet" href="/css/presentation-details.css">

<header>
  {% include 'components/main-nav.liquid' %}
  <h1>{{ p.title }}</h1>
</header>

<main>
  <img src="{{ p.image }}" alt="{{ p.imageAltText }}">
  <section class="overview">
    <div class="duration">{{ p.duration }}</div>
    <a
      href="{{ p.repoUrl }}"
      target="_blank"
      rel="noopener">Repo</a>
    <div class="description">{{ p.description | markdown }}</div>
  </section>

  <section class="related-presentations">
    <h3>Related Presentations</h3>
    {% if p.relatedPresentations.length > 0 %}
      <ul>
        {%- for pres in p.relatedPresentations -%}
          <li>
            <a href="/presentations/{{ pres.slug }}">{{ pres.title }}</a>
          </li>
        {%- endfor -%}
      </ul>
    {% else %}
      <p>No related Presentations</p>
    {% endif %}
  </section>

  <section class="tags">
    <h2>Tags</h2>
    <ul>
      {%- for tag in p.tags -%}
        <li>{{ tag }}</li>
      {%- endfor -%}
    </ul>
  </section>

  <section class="tabs">
    <section>
      <h2>Abstract</h2>
      {{ p.abstract | markdown }}
    </section>

    <section>
      <h2>Learning Objectives</h2>
      <ul>
        {% for lo in p.learningObjectives %}
          <li>{{ lo | markdown }}</li>
        {% endfor %}
      </ul>
    </section>

    <section class="engagements">
      <h2>Engagements</h2>
      <ul>
        {% for engagement in p.engagements %}
          <li>
            {% include "components/upcoming-engagement" %}
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="engagements">
      <h2>Resources</h2>
      {{ p.resources | markdown }}
    </section>

  </section>
</main>